# Virtual environment
venv/

# IDE
.idea/
.vscode/

# Docker
docker-compose.override.yml

# Virtualenv
database.env
web.env

# DB data
docker/db/data/*

# Static files
backend/static/*

# Media files
backend/media/*

# Python bytecode
__pycache__/
