{% load static %}

{% if categories.count > 0 %}
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for category in categories %}
            <div class="col">
                <div class="card h-100">
                    {% if category.image %}
                        <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}">
                    {% else %}
                        <img src="{% static 'catalog/images/no_image.png' %}" class="card-img-top" alt="No image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="card-text">{{ category.description }}</p>
                        <a href="{% url 'category' category.slug %}" class="btn btn-primary">Подобрать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Пока нет категорий</p>
{% endif %}
