# .github/workflows/build.yml
# Here is the snippet that builds the images and pushes them to Docker Hub:
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }} # valentincunev
        password: ${{ secrets.DOCKERHUB_TOKEN }} # dckr_pat_8IQ3hsih3_GzaPr6FNYPVATAfZo
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: valentincunev/size.carpedia.club:latest
