on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Copy environment files
      run: |
        touch database.env
        echo MYSQL_DATABASE=${{ vars.MYSQL_DATABASE }} >> database.env
        echo MYSQL_USER=${{ vars.MYSQL_USER }} >> database.env
        echo MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }} >> database.env
        echo MYSQL_HOST=${{ vars.MYSQL_HOST }} >> database.env
        echo MYSQL_PORT=${{ vars.MYSQL_PORT }} >> database.env
        touch web.env
        echo DEBUG=1 >> web.env
        echo ALLOWED_HOSTS=${{ vars.ALLOWED_HOSTS }} >> web.env
        echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> web.env
    - name: Login to DockerHub using token
      run: |
        whoami
        docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      run: |
        docker compose -p ${{ vars.DOCKER_PROJECT_NAME }} -f docker-compose.yml -f docker-compose.override-ci.yml build
        docker compose -p ${{ vars.DOCKER_PROJECT_NAME }} -f docker-compose.yml -f docker-compose.override-ci.yml push
    - name: Deploy
      run: |
          docker compose -p ${{ vars.DOCKER_PROJECT_NAME }} -f docker-compose.yml -f docker-compose.override-ci.yml down --remove-orphans
          docker compose -p ${{ vars.DOCKER_PROJECT_NAME }} -f docker-compose.yml -f docker-compose.override-ci.yml up -d
    - name: Cleanup
      run: |
          docker system prune -f
