on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
#    - name: Create env file
#      run: |
#        echo "${{ secrets.DB_ENV_FILE }}" > database.env
#        echo "${{ secrets.WEB_ENV_FILE }}" > web.env
#    - name: Create docker-compose.override.yml
#      run: |
#        echo "${{ secrets.DOCKER_COMPOSE_CI }}" > docker-compose.override.yml
#    - uses: astappiev/docker-compose-remote-action@master
#      name: Docker-Compose Remote Deployment
#      with:
#        ssh_host: ${{ secrets.DEPLOY_HOST }}
#        ssh_user: ${{ secrets.DEPLOY_USERNAME }}
#        ssh_private_key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
#        ssh_host_public_key: ${{ secrets.DEPLOY_PUBLIC_KEY }}
#        docker_compose_prefix: carpedia
    # Deploy on self hosted runner
    - name: Copy docker-compose.override.yml
      run: |
        echo docker-compose.override-ci.yml > docker-compose.override.yml
    - name: Copy database.env
      run: |
          echo "${{ secrets.DB_ENV_FILE }}" > database.env
    - name: Login to DockerHub using token
      run: |
        whoami
        docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      run: |
        docker compose -p carpedia -f docker-compose.yml -f docker-compose.override.yml build
        docker compose -p carpedia -f docker-compose.yml -f docker-compose.override.yml push
    - name: Deploy
      run: |
          docker compose -p carpedia -f docker-compose.yml -f docker-compose.override.yml up -d
    - name: Cleanup
      run: |
          docker system prune -f
